.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form h2 {
  text-align: center;
}

.register-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.register-form button {
  padding: 12px;
  border-radius: 8px;
  background: #008cff;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
